
h1{
  color: red;
  font-style: italic;
  text-align: left;
  font-family: sans-serif;
}
h2{
  color: f7325e;
  text-align: left;
  text-decoration-color: #7dc410;
  font-family: fantasy;
}
ul{
  text-align: left;
  font-style: normal;
}
h3{
  color: red;
  text-align: left;
  font-family: sans-serif;
  font-style: italic;
}
ul{
  line-height: normal;
}
body{
  background-color: whitesmoke;
}
.intro{
  font-style: italic;
}
p{
  text-align: left;
  text-decoration-color: orange;
}
nav{
  visibility: visible;
}
